name: CI

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]

jobs:
  ci:
    uses: LevitateOS/LevitateOS/.github/workflows/rust-ci.yml@master
    with:
      msrv: '1.93'
